# Бинарные файлы (исполняемые файлы)
# Игнорирует файлы без расширения (типично для Go билдов на macOS/Linux)
# или с расширением .exe (Windows)
/*/[a-zA-Z0-9]*
!go.mod
!go.sum
!README.md
!README
!*.go
!*.md

# Если вы обычно называете бинарник именем папки или проекта:
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Профилирование и отладка
*.prof
*.out
*.test
